.global-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.global-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2);
  padding: 17px;

  gap: 20px;
  background-image: linear-gradient(#ffffff, #c0f1e1);
  /* width: 278px;
height: 162px; */
border-radius: 16px;;

}
.global-left h1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #004b50;
}
.global-left p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #004b50;
}
.global-left h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #004b50;
}
.global-flex-2 img {
  width: 24.32px;
  height: 24.77px;
  left: 214px;
  padding: 4.65px, 4.05px, 5.26px, 4.05px;
}
.global-flex {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
/* --------------second part css----------------- */

.global-right {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.global-right-box {
  width: 200px;
  height: 110.83px;
  padding: 10.31px;
  border-radius: 9.02px;
  gap: 6.44px;
}
.box1-flex,
.box1-part1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 5px;
}
.box1-part1 h3 {
  font-size: 13px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.box1-flex p{
font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #7A7A7A;
}
.box1-flex h4{
font-size: 12px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #030303;
}
.box1-flex h5{
font-size: 13px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #D34645;
}
.box1-flex h6{
font-size: 13px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color:#3DA864;

}
