.global-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.global-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2);
  padding: 17px;
  border-radius: 10px;
  gap: 20px;
  background-image: linear-gradient(#ffffff, #c0f1e1);
}
.global-left h1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #004b50;
}
.global-left p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #004b50;
}
.global-left h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #004b50;
}
.global-flex-2 img {
  width: 24.32px;
  height: 24.77px;
  left: 214px;
  padding: 4.65px, 4.05px, 5.26px, 4.05px;
}
.global-flex {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
/* --------------second part css----------------- */

.global-right{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.global-right-box{
    width: Fixed (186.21px);
height: Fixed (110.83px);
padding: 10.31px;
border-radius: 9.02px;
gap: 6.44px;

}
.box1-flex,.box1-part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}