.welcome-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  gap: 60px;
}
.welcome-box-left{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2);
  padding: 17px;
  border-radius: 10px;
  gap: 20px;
}
.lorem-box-right {
box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2);
  padding: 17px;
  border-radius: 10px;
  display: block;
  margin: auto;
}